<table>
  <tr>
    <th>ID</th>
    <th>Name</th>
    <th>Surname</th>
    <th>E-Mail</th>
    <th>Department</th>
    <th>Position</th>
    <th>Actions</th>
  </tr>
  <tr *ngFor="let employee of this.dataService.employees">
    <td>{{employee.id}}</td>
    <td>{{employee.firstName}}</td>
    <td>{{employee.lastName}}</td>
    <td>{{employee.email}}</td>
    <td>{{employee.departmentId}}</td>
    <td>{{employee.positionId}}</td>
    <td>
      <button type="button" (click)="edit(employee); show()">
        Edit
      </button>
      <button type="button" (click)="delete(employee)">
        Delete
      </button>
    </td>
  </tr>
</table>

<button type="button" (click)="addEmployee()">
  Add New Employee
</button>

<div id="add">
  <app-employee-add></app-employee-add>
</div>

<div id="edit">
<app-employee-edit ></app-employee-edit>
</div>

<!--<div>-->
<!--  <h2>Add new employee</h2>-->
<!--  <label>Employee name:-->
<!--    <input #departmentName />-->
<!--  </label>-->
<!--  <button (click)="add(departmentName.value); departmentName.value=''">-->
<!--    add-->
<!--  </button>-->
<!--</div>-->

