button {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}

* {
  font-family: Verdana, Arial;
}

#add {
  display: none;
  width: 80%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

#edit {
  display: none;
  width: 80%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

table, th, td {
  border: black solid 1px;
  text-align: center;
  padding: 5px;
}

table {
  border-collapse: collapse;
}
