
<form class="edit modal" [formGroup]="editForm">
  <div>
    <label for="editFirstName">Name: </label>
    <input id="editFirstName" type="text" formControlName="firstName" value="{{this.dataService.employee.firstName}}" />
  </div>

  <div>
    <label for="editLastName">Surname: </label>
    <input id="editLastName" type="text" formControlName="lastName" value="{{this.dataService.employee.lastName}}"/>
  </div>

  <div>
    <label for="editEmail">Email: </label>
    <input id="editEmail" type="text" formControlName="email" value="{{this.dataService.employee.email}}"/>
  </div>

  <div>
    <label for="editDepartmentId">Department ID: </label>
    <input id="editDepartmentId" type="number" formControlName="departmentId" value="{{this.dataService.employee.departmentId}}"/>
  </div>

  <div>
    <label for="editPositionId">Position ID: </label>
    <input id="editPositionId" type="number" formControlName="positionId" value="{{this.dataService.employee.positionId}}"/>
  </div>

  <button type="button" (click)="edit(); close()">Update</button>
  <button type="button" (click)="close()">Cancel</button>
</form>
